:root {
   /* light.css */ 
    --font-color: #333;
    --bg-color: #fff;

    --link-color:#1d60a3;
    --link-state-color:#a31d1d;
    --link-state-border-color: rgba(163, 29, 29, .5);

    --thead-bg-color: lightgrey;
    --table-border-color: #b3b3b3;

    --nav-bg-color: #fafafa;
    --nav-link-color: #696969;

    --pre-color: #333;
    --pre-bg-color: #f1f1f1;

    --bq-color: #ccc;
    --hr-color: #ccc;

    --pagination-bg-color: #fafafa;
    --pagination-link-color: #696969;

    --post-info-color: grey;

    --switcher-color: #fff;
    --switcher-bg-color: #333;

    --svg-color: #333;
    --svg-state-color: #a31d1d;

/* highlight colorful.css */
/* Background */ .bg { background-color:#f1f1f1; }
/* PreWrapper */ .chroma { background-color:#f1f1f1; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color:#f00;background-color:#faa }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#e5e5e5 }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#080;font-weight:bold }
/* KeywordConstant */ .chroma .kc { color:#080;font-weight:bold }
/* KeywordDeclaration */ .chroma .kd { color:#080;font-weight:bold }
/* KeywordNamespace */ .chroma .kn { color:#080;font-weight:bold }
/* KeywordPseudo */ .chroma .kp { color:#038;font-weight:bold }
/* KeywordReserved */ .chroma .kr { color:#080;font-weight:bold }
/* KeywordType */ .chroma .kt { color:#339;font-weight:bold }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color:#00c }
/* NameBuiltin */ .chroma .nb { color:#007020 }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color:#b06;font-weight:bold }
/* NameConstant */ .chroma .no { color:#036;font-weight:bold }
/* NameDecorator */ .chroma .nd { color:#555;font-weight:bold }
/* NameEntity */ .chroma .ni { color:#800;font-weight:bold }
/* NameException */ .chroma .ne { color:#f00;font-weight:bold }
/* NameFunction */ .chroma .nf { color:#06b;font-weight:bold }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color:#970;font-weight:bold }
/* NameNamespace */ .chroma .nn { color:#0e84b5;font-weight:bold }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color:#070 }
/* NameVariable */ .chroma .nv { color:#963 }
/* NameVariableClass */ .chroma .vc { color:#369 }
/* NameVariableGlobal */ .chroma .vg { color:#d70;font-weight:bold }
/* NameVariableInstance */ .chroma .vi { color:#33b }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { background-color:#e1e1d8 }
/* LiteralStringAffix */ .chroma .sa { background-color:#e1e1d8 }
/* LiteralStringBacktick */ .chroma .sb { background-color:#e1e1d8 }
/* LiteralStringChar */ .chroma .sc { color:#04d;background-color:#e1e1d8 }
/* LiteralStringDelimiter */ .chroma .dl { background-color:#e1e1d8 }
/* LiteralStringDoc */ .chroma .sd { color:#d42;background-color:#e1e1d8 }
/* LiteralStringDouble */ .chroma .s2 { background-color:#e1e1d8 }
/* LiteralStringEscape */ .chroma .se { color:#666;background-color:#e1e1d8;font-weight:bold }
/* LiteralStringHeredoc */ .chroma .sh { background-color:#e1e1d8 }
/* LiteralStringInterpol */ .chroma .si { background-color:#eee }
/* LiteralStringOther */ .chroma .sx { color:#d20;background-color:#e1e1d8 }
/* LiteralStringRegex */ .chroma .sr { color:#000;background-color:#e1e1df }
/* LiteralStringSingle */ .chroma .s1 { background-color:#e1e1d8 }
/* LiteralStringSymbol */ .chroma .ss { color:#a60;background-color:#e1e1d8 }
/* LiteralNumber */ .chroma .m { color:#60e;font-weight:bold }
/* LiteralNumberBin */ .chroma .mb { color:#60e;font-weight:bold }
/* LiteralNumberFloat */ .chroma .mf { color:#60e;font-weight:bold }
/* LiteralNumberHex */ .chroma .mh { color:#058;font-weight:bold }
/* LiteralNumberInteger */ .chroma .mi { color:#00d;font-weight:bold }
/* LiteralNumberIntegerLong */ .chroma .il { color:#60e;font-weight:bold }
/* LiteralNumberOct */ .chroma .mo { color:#40e;font-weight:bold }
/* Operator */ .chroma .o { color:#333 }
/* OperatorWord */ .chroma .ow { color:#000;font-weight:bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color:#888 }
/* CommentHashbang */ .chroma .ch { color:#888 }
/* CommentMultiline */ .chroma .cm { color:#888 }
/* CommentSingle */ .chroma .c1 { color:#888 }
/* CommentSpecial */ .chroma .cs { color:#c00;font-weight:bold }
/* CommentPreproc */ .chroma .cp { color:#579 }
/* CommentPreprocFile */ .chroma .cpf { color:#579 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color:#a00000 }
/* GenericEmph */ .chroma .ge { font-style:italic }
/* GenericError */ .chroma .gr { color:#f00 }
/* GenericHeading */ .chroma .gh { color:#000080;font-weight:bold }
/* GenericInserted */ .chroma .gi { color:#00a000 }
/* GenericOutput */ .chroma .go { color:#888 }
/* GenericPrompt */ .chroma .gp { color:#c65d09;font-weight:bold }
/* GenericStrong */ .chroma .gs { font-weight:bold }
/* GenericSubheading */ .chroma .gu { color:#800080;font-weight:bold }
/* GenericTraceback */ .chroma .gt { color:#04d }
/* GenericUnderline */ .chroma .gl { text-decoration:underline }
/* TextWhitespace */ .chroma .w { color:#bbb }
}
